[tags]
BFIDT-001:TTGTTGGC
BFIDT-006:AAGCTTAT
BFIDT-009:CCGGTGGA
BFIDT-010:CTAACGAT
BFIDT-012:CTATGCTA
BFIDT-013:GCAGGCGT
BFIDT-014:GCCTTCAG
BFIDT-015:GAGAGTAC
BFIDT-017:GCTCCTCT
BFIDT-018:GGTACGCT
BFIDT-019:GTTCGGTA
BFIDT-020:TAAGAGCG
BFIDT-023:TGACGTCG
BFIDT-026:ACACTCCA
BFIDT-030:ATGAGGCC
BFIDT-032:CAACCTAA
BFIDT-033:CCGAACAG
BFIDT-034:CATTCCTC
BFIDT-036:CGCTTGGA
BFIDT-038:CGTAGTAT
BFIDT-039:CGTCTCGT
BFIDT-041:GATGGAGA
BFIDT-042:TAGCGGCA
BFIDT-043:TCCAGGAA
BFIDT-044:TCTCGACG
BFIDT-045:TTCTCCTT
BFIDT-101:AACAGTCT
BFIDT-105:AAGGTGCC
BFIDT-110:ACATGGTC
BFIDT-113:ACCTCTTG
BFIDT-117:ACTTAGAA
BFIDT-125:AGGCGTGT
